streamlit==1.32.0
numpy==1.26.4
Pillow==10.2.0
pandas==2.2.1
opencv-python==4.9.0.80
scikit-learn==1.4.2
plotly==5.21.0
matplotlib==3.8.4
matplotlib-inline==0.1.6
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
